/* Definir um esquema de cores com tema de sinuca */
:root {
    --primary-color: #006400; /* Verde escuro, para a mesa de sinuca */
    --secondary-color: #dcdcdc; /* Cor clara para contrastar com o verde */
    --bg-color: #f0f0f0; /* Fundo claro para ambiente mais suave */
    --font: 'Arial', sans-serif; /* Fonte simples e legível */
    --accent-color: #8B4513; /* Marrom, representando o taco de sinuca */
    --highlight-color: #FF0000; /* Vermelho, para as bolas de sinuca */
}

/* Estilo geral da página */
body {
    font-family: var(--font);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    color: white;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilos para a área dos gráficos */
.graficos-section {
    padding: 20px;
    text-align: center;
}

.graficos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Estilo para os gráficos */
.grafico {
    width: 80%;
    height: 400px;
    background-color: #e5e5e5; /* Cor de fundo suave */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para os textos e títulos do gráfico */
.title {
    font-size: 30px;
    font-family: var(--font);
    color: var(--primary-color);
    text-align: center;
    padding: 20px;
}
